img {
    width: 30%;
    float: left;
    margin: 1.66;
}

p{
    font-family: 'Lobster', cursive;
    margin-left: 1.66;
    font-size: 75px;
}

body {
    background-image: url(https://i.imgur.com/egkIJc3.png);
}